# Segredos para a compilação do Bereia Versículos

# O conteúdo desta variável deve ser o JSON completo do client_secrets.json do Google.
# Exemplo: GOOGLE_CLIENT_SECRETS_JSON='{"installed":{"client_id":"...", "client_secret":"..."}}'
GOOGLE_CLIENT_SECRETS_JSON=""

# Para o build do Windows, se necessário
MSIX_PFX_BASE64=""
MSIX_PFX_PASSWORD=""
