*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store

# Distribution Artifacts
installers/windows/app\installers\windows\BereiaVerse_SelfSigned.pfx
*.pfx
*.pfx.base64.txt

# Environment Variables
.env
.env.local

# Google Drive Sync
composeApp/src/jvmMain/resources/client_secrets.json
