[Desktop Entry]
Name=Bereia Versículos | IRSE
Comment=Leitor Bíblico automático
Exec=/opt/bereia-verse/bin/bereia-verse
Icon=bereia-verse
Terminal=false
Type=Application
Categories=Education;Utility;
StartupWMClass=br-com-irse-verse-MainKt
Keywords=Bible;Study;Verse;
