[Desktop Entry]
Name=Bereia Versículos
Comment=Leitor bíblico automático com anotações.
Exec=bereiaverse
Icon=bereiaverse
Terminal=false
Type=Application
Categories=Education;Utility;
